/*ERROR PAGE STYLE*/
.container{
  color: white;
}
.editBk{
  margin-bottom: 2vh;
  opacity: 0.95;
  background-color: #567EBB;
  border-color: #2B4C7E;
}

.editBk:hover{
  background-color: #2B4C7E;
  border-color: #1F1F20;
}

.editSP{
  margin-bottom: 2vh;
  opacity: 0.95;
  background-color: #567EBB;
  border-color: #2B4C7E;
}

.editSP:hover{
  background-color: #2B4C7E;
  border-color: #1F1F20;
}

#doc{
  display: inline-block;
  margin-top: 5vh;
}

#doc_p{
  display: inline-block;

  font: bold;
}
/*NAVBAR STYLE*/
.editNav{
  background-color: #FFFF;
}
