/*ERROR PAGE STYLE*/
.container{
  color: white;
}
.editBk{
  margin-bottom: 2vh;
  opacity: 0.95;
  background-color: #567EBB;
  border-color: #2B4C7E;
}

.editBk:hover{
  background-color: #2B4C7E;
  border-color: #1F1F20;
}

.editSP{
  margin-bottom: 2vh;
  opacity: 0.95;
  background-color: #567EBB;
  border-color: #2B4C7E;
}

.editSP:hover{
  background-color: #2B4C7E;
  border-color: #1F1F20;
}

#doc{

  margin-top: 5vh;
}

#doc_p{
  display: inline-block;

  font: bold;
}
/*NAVBAR STYLE*/
.editNav{
  background-color: #DCE0E6;
  opacity: 0.9;
}

.editButton{
  margin-bottom: 2vh;
  opacity: 0.95;
  background-color: #567EBB;
  border-color: #2B4C7E;
}

.editButton:hover{
  background-color: #2B4C7E;
  border-color: #1F1F20;
}
/*LOGIN STYLE*/
.editRegister{
  background-color: #606D80;
  border-color: #1F1F20;
}

.editRegister:hover{
  background-color: #1F1F20;
  border-color: #606D80;
}

.cardMod{
  color: #1F1F20;
  opacity: 0.9;
}
/*POST LOGIN style*/
.postNav{
  background-color: #567EBB;
  color: white;
}

/*CHART STYLE*/
.chart{
  opacity: 0.9;
}

.cardChart{
  opacity: 0.9;
  background-color: transparent;
  border: none;
}

.cardChart{
  text-align: center;
  color: white;
}
